
.links_holder li {
    margin: .5em 0;
    background: rgba(238, 238, 238, 0.21);
    padding: .5em;
    min-height: 40px;

    h3 {
        margin: 0;
        margin-bottom: .5em;
    }
    .created {
        text-align: right;
        font-size: 0.7em;
        color: #cfccd2;
        margin: 0;
        padding: 0;
        height: 2em;
    }

    .tags {
        height: 3em;
        font-size: 0.7em;
        line-height: 3em;
    }
    .tag {
        background: white;
        color: black;
        border: 1px solid #e6e9ec;
        padding: .3em .8em;
        margin: 0 .5em 0 0;
    }
}


