 /*load icon*/

.loader {
      transition: opacity .2s ease-in .5s;
      opacity: 0;
    height: 5px;
      width: 84%;
      position: relative;
    margin: 2%;
  overflow: hidden;
}

html.loading .loader{


  opacity: 1;
background: #f5f7f4; /* Old browsers */
background: -moz-linear-gradient(top, #f5f7f4 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5f7f4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5f7f4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

html.loading .loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  animation: loading 2s linear infinite;

  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(left, #dddddd 0%, #2989d8 50%, #207cca 67%, #dddddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #dddddd 0%,#2989d8 50%,#207cca 67%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #dddddd 0%,#2989d8 50%,#207cca 67%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */

}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

 html #container {
    opacity: 1;
    transition: opacity 1s ease-in 0s;
 }

html #container {
    opacity: 1;
    transition: opacity 1s ease-in 0s;
 }


html.loading #container {
    opacity: 0;
}

html.loading[data-speclate-url="/index.html"] .loader {
    opacity: 0;
}