.post-full {
    .summary {
        margin: 2em 0;
        p {
            margin: 2em 0;
        }
        pre {
            margin: 2em 3em;
        }

    }
    .tags {
        float: left;
        width: 100%;
        background-color: #eeeeee;

        .tag {
            display: inline-block;
            background-color: #fff;
            border: #dddddd;
            padding: .2em 1em;
            margin: .3em .5em;
        }
    }
    .tags,
    .direction {
        font-size: 0.7em;
        line-height: 2em;
        padding: 1em;
        border-radius: 0.3em;
    }
    .next,
    .previous {
        border-radius: 0.3em;
        background-color: #de6a48;
        font-size: 1.3em;
        color: #ffffff;
        padding: .2em 1em;
        margin: 0em .5em 2em .5em;
    }
    .previous {
        float: left;
    }
    .next {
        float: right;
    }
    img {
        max-width: 100%;
        padding: 2em 0;
        height: auto;
    }

}

