
[data-speclate-page="tag"] .nav {
    display: none;
}
.hero {
    
    position: sticky; top: 0px; width: 100%; 
    
    object-fit: cover;
    
    
}

h3.category {
    margin-left: 1em;
    width: 100%;
position: relative;
color: #ffffff61;

font-size: 4em;
    
}