li.link.section {
    margin: 2em 0;
    border-radius: 5px;
    min-height: 40px;
    list-style: none;
    font-size: 1em;
    padding-top: .5em;
    border: 1px solid $focus;
    a {
        h5 {
            color: #8e9297;
            .favIcon {
                margin-right: 6px;
                top: 1px;
                position: relative;
            }
            .title {
                color: #d4d4d4;
            }
            margin: 0;
            font-size: 1.2em;
            margin-bottom: .5em;
        }
    }
    .created {
        text-align: right;
        font-size: 0.7em;
        color: #cfccd2;
        margin: 0;
        padding: 0;
        height: 2em;
    }
    blockquote {
        margin: 1em 0;
        line-height: 1.5em;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        overflow: hidden;
    }
    blockquote:before,
    blockquote:after {
        color: #ccc;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }
    blockquote:before {
        content: open-quote;
        margin-right: 0.25em;
    }
    blockquote:after {
        content: close-quote;
        margin-left: 0.25em;
        line-height: 1.2em;
    }
    blockquote p {
        display: inline;
    }
    .tags {
        font-size: 0.8em;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-grow: 3;
        align-items: flex-end;
        flex-flow: row wrap;
        display: flex;
        span {
            line-height: 4em;
        }
    }
    .tag {
        border-radius: 3px;
        padding: 0 10px;
        -webkit-column-break-inside: avoid;
        margin: 5px;
    }
}