

$background: #37363899 !default;
$text: #a0a3a7 !default;
$text-highlight: #d4d4d4 !default;
$focus: #000 !default;
$heading: #8f8d9a !default;
$shadow:#1f1e1e !default;
$boxes: #ccc !default;

html {
	body {
        margin: 0;
        margin: 0;
    }
    line-height: 1.5em;
    background: $background;
    color: $text;

    background: radial-gradient(circle, #000000cf 0%, black 83%);
    background-position: bottom;
    transition: background-color 0.2s ease;
    #content{
        padding-top: 50px;
    }
}

.honey {
    background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(25,25,25)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");

    background-size: 9px;
    display: block;
    padding: 1em;
    overflow: auto;
    
}
html.loading {
    background-color: $shadow;
}
section, .section {

    border: 1px solid $focus;

    border-radius: 5px;
    background: $boxes;
    padding: .5em;
    border-radius: 3px;
    min-height: 40px;
    margin-bottom: 1em;
    background: #2b2b2cb0;

    h4 {
        margin: 0.4em;
        padding-bottom: 1em;
    }
    li {
        font-family: arial;
    }
}


#content {
    font-family: 'Source Serif Pro', serif;
    height: 100vh;

    margin-bottom: 4em;
}

@media only screen and (min-width: 900px)  {
    #content {
	    margin: 0 20%;
    }
}

a {
    color: $text;
}

h1 {
    font-size: 4.9em;
    
    margin: 0;
	font-weight: lighter !important;
	color:$heading;
    line-height: 0.9em;
    text-shadow: 1px 1px #fefe;
}

h2 {

	line-height: 1.5em;
	padding: 0;
	margin: .5em;
    color: $heading;
    text-shadow: 1px 1px $shadow;
}

h3 {color: $text-highlight;  line-height: 2em;padding: 0; }

h4 {
    color: #DE6B48;
    font-size: 1.3em;
    overflow: hidden;

}


ul {
	margin:  0;
	padding: 0px 0px;
}

li {
	list-style-type: none;
	margin: 5px 0;
	min-height: 30px;
	line-height: 2em;
}



a {
    text-decoration: none;
    color: #d4d4d4;
}

#container {
    padding: 0 1em;
    margin-bottom: 10em;
}

.notice {
    background-color: rgba(255, 235, 59, 0.53);
    padding: 1em;
    margin: 0;
    border-radius: .1em;
}


html[data-speclate-url="/tags/index.html"] a.tag {
    display: block;
    margin: 1em;
}

// @import '../components/loader/loader.scss';
@import '../components/nav/nav.scss';

@import '../components/loader/loader.scss';
@import '../components/link/link.scss';


