

$background: #373638 !default;
$text: #a0a3a7 !default;
$text-highlight: #d4d4d4 !default;
$focus: #000 !default;
$heading: #8f8d9a !default;
$shadow:#1f1e1e !default;
$boxes: #ccc !default;


@font-face {
    font-family: 'sketch_gothiclight';
    src: url('/client/freesketch/freesketch_gothic_light_demo-webfont.eot');
    src: url('/client/freesketch/freesketch_gothic_light_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/client/freesketch/freesketch_gothic_light_demo-webfont.woff') format('woff'),
         url('/client/freesketch/freesketch_gothic_light_demo-webfont.ttf') format('truetype'),
         url('/fonts/freesketch/freesketch_gothic_light_demo-webfont.svg#sketch_gothiclight') format('svg');

    font-style: normal;
}

html {
	padding-top: 50px;
	height: 80%;
    line-height: 1.5em;
    background: $background;
    color: $text;

  transition: background-color 0.2s ease;
}

html.loading {
    background: $shadow;
}
section, .section {
    background: $boxes;
    padding: .5em;
    border-radius: 3px;
    min-height: 40px;
    margin-bottom: 1em;
    background: #d2d2d208;

    h4 {
        margin: 0.4em;
        padding-bottom: 1em;
    }
}


#content {
    font-family:Poppins;
}

@media only screen and (min-width: 900px)  {
    #content {
	    margin: 0 25%;
    }
}

a {
    color: $text;
}

h1 {
    font-size: 4.9em;
    
    margin: 0;
	font-weight: lighter !important;
	color:$heading;
    line-height: 0.9em;
    box-shadow: #000;
    font-family: sketch_gothiclight;
    text-shadow: 2px 2px $shadow;
}

h2 {

	line-height: 1.5em;
	padding: 0;
	margin: .5em;
    color: $heading;
    text-shadow: 1px 1px $shadow;
}

h3 {color: $text-highlight;  line-height: 2em;padding: 0; }

h4 {
    color: #DE6B48;
    font-size: 1.3em;
    overflow: hidden;

}


ul {
	margin:  0;
	padding: 0px 0px;
}

li {
	list-style-type: none;
	margin: 5px 0;
	min-height: 30px;
	line-height: 2em;
}



a {
    text-decoration: none;
    color: #d4d4d4;
}

#container {
    padding: 0 1em;
}

.notice {
    background-color: rgba(255, 235, 59, 0.53);
    padding: 1em;
    margin: 0;
    border-radius: .1em;
}


html[data-speclate-url="/tags/index.html"] a.tag {
    display: block;
    margin: 1em;
}

// @import '../components/loader/loader.scss';
@import '../components/nav/nav.scss';

@import '../components/loader/loader.scss';
@import '../components/link/link.scss';


