@font-face {
    font-family: 'sketch_gothiclight';
    src: url('/client/freesketch/freesketch_gothic_light_demo-webfont.eot');
    src: url('/client/freesketch/freesketch_gothic_light_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/client/freesketch/freesketch_gothic_light_demo-webfont.woff') format('woff'),
         url('/client/freesketch/freesketch_gothic_light_demo-webfont.ttf') format('truetype'),
         url('/fonts/freesketch/freesketch_gothic_light_demo-webfont.svg#sketch_gothiclight') format('svg');

    font-style: normal;
}

html {
	padding-top: 50px;
	height: 80%;
	line-height: 1.5em;
}

#content {
    font-family:Poppins;
}

@media only screen and (min-width: 900px)  {
    #content {
	    margin: 0 25%;
    }
}



h1, h2, h3, h4 {

}
h1 {
	font-size: 4.9em;
	margin: 0px;
	font-weight: lighter !important;
	color: #424952;
    line-height: 0.9em;
    font-family: sketch_gothiclight;
}

h2 {

	line-height: 1.5em;
	padding: 0;
	letter-spacing: 1px;
	margin: .5em;
	color: #879faf;
}

h3 {color: #6b7a8f;line-height: 2em;padding: 0;letter-spacing: 1px;}

h4 {
    color: #DE6B48;
    font-size: 1.3em;
    overflow: hidden;

}


ul {
	margin:  0;
	padding: 0px 0px;
}

li {
	list-style-type: none;
	margin: 5px 0;
	min-height: 30px;
	line-height: 2em;
}



a {
	text-decoration: none;
}

#container {
    padding: 0 1em;
    color: #686b6f;
}

.notice {
    background-color: rgba(255, 235, 59, 0.53);
    padding: 1em;
    margin: 0;
    border-radius: .1em;
}


html[data-speclate-url="/tags/index.html"] a.tag {
    display: block;
    margin: 1em;
}

// @import '../components/loader/loader.scss';
@import '../components/nav/nav.scss';

@import '../components/loader/loader.scss';
@import '../components/link/link.scss';


