#container {}

.links_holder {
    font-size: 0.6em;
    li {
        padding-left: 2em;
        list-style: circle;
    }
}

.panels {
    display: flex;
    flex-wrap: wrap;
    li {
        min-width: 50%;
        background-color: red;
        border: 0;
        margin: 0;
    }
}