#container {}

@mixin panel($url) {
    background-image: url($url);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    top: -1em;
    content: ' ';
    width: 5em;
    position: absolute;
    height: 5em;
}

.panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        border: 0;
        position: relative;
        margin: 1em 4em;
        text-align: center;
        width: 100%;
        &:nth-child(even) {
            padding-right: 3em;
            &:after {
                right: -0.5em;
            }
        }
        &:nth-child(odd) {
            padding-left: 3em;
            &:after {
                left: 0;
            }
        }
        &.garden::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRriMKjqjhkBvG85s/lawnmover-xptg4s7pre805moktw65k9w.png")
        }
        &.director::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRgUWKjqqYR4nY3GH/movie-production-epoyk5x2lu4pway7totjl.png");
        }
        &.resident::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRbY3Kjq1buGYAp6g/house-8-ctuhr8nzyawwax1tlquxok.png");
        }
        &.web::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkReNfKjquQFhrereX/ux-ui-layout-2-kfy9prfxesgiv46404kyv.png");
        }
        &.javascript::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRJEkfyZ4aB2ooQrh/laptop-coding-2te16zxktqnojz3gvjgus.png");
        }
        &.organiser::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRJEkfyZ4aB2ooQrh/coding-learning-1-kv1026smh1j7ravcg3jsp4.png");
        }
        &.host::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRRT6KjqpRnUmxJew/podcast-1-ob004svgdnm9otgzcniff.png");
        }
        &.best::after {
            @include panel("https://streamline-p3ouction-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRRT6KjqpRnUmxJew/podcast-1-ob004svgdnm9otgzcniff.png");
        }
        &.lead::after {
            @include panel("https://streamline-production-bucket.cellar-c2.services.clever-cloud.com/icons/low/subc_M9YctUtkRjt2fyZTjolqFPhC/team-hierarchy-3-2-f81txuz4sycynx7ireenw.png");
        }
        a {
            padding-top: 4em;
            height: 1em;
            width: auto;
            border-radius: 4px;
            padding: 1em;
            position: relative;
            display: block;
            background-color: $focus;
            border: 1px solid black;
        }
    }
}