.post-full {
    pre {
        background: $background;
        padding: 1em;
    }
    .summary {
        font-size: 1.2em;
        line-height: 1.8em;
        margin: 1em 0;
        p {
            margin: 1em 0;
        }
        pre {
            margin: 2em 1em;
        }

    }
    img {
        max-width: 80%;
    }
    .tags {
        margin-top: 1em;
        margin-bottom: 1em;
        li {
            display: inline-block;
        }        
    }
    .tag {
        background: #afe7604a;
        color: white;
        border-radius: 7px;
        border: 1px solid $background;
        line-height: 2em;
        padding: .3em .8em;
        margin: 0 .5em 0 0;
    }
}