.post-full {
    pre {
        background: $background;
        padding: 1em;
    }
    .summary {
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-size: 1.2em;
        line-height: 1.8em;
        margin: 1em 0;
        p {
            margin: 1em 0;
        }
        pre {
            margin: 2em 1em;
            overflow: scroll;
        }
    }
    img {
        max-width: 80%;
    }
    .tags {
        margin-top: 1em;
        margin-bottom: 1em;
        li {
            background-color: red;
            display: inline-block;
        }
    }
    .tag {
        color: white;
        border-radius: 7px;
        line-height: 2em;
        padding: .3em .8em;
        margin: 0 .5em 0 0;
    }
}