@keyframes popout {
    from {
        transform: scale(0)
    }
    80% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(0)
    }
    80% {
        -webkit-transform: scale(1.2)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes hide-then-show {
    from {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes switch-on {
    from {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes twitch {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-4deg);
    }
    85% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes twitch-rev {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(4deg);
    }
    90% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}