$icon-size:2em;
html.loading footer {
    transform: translateY(30em);
}

footer {
    overflow-y: hidden;
    position: relative;
    transition: transform .3s ease-in-out;
    margin: 0;
    padding-bottom: 4em;
    padding-top: 2em;
    background-color: black;
    display: flex;
    bottom: 0;
    transform: translateY(0);
    ul {
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 8em;
        li {
            z-index: 100 !important;
            animation: popout .3s ease;
            border-radius: $icon-size;
            height: $icon-size;
            width: $icon-size;
            svg {
                stroke: white;
                transition: transform .2s ease-in-out;
            }
            a {
                height: $icon-size;
                align-items: center;
                &:hover {
                    svg {
                        transform: scale(1.3);
                    }
                }
                h3 {
                    display: none;
                }
            }
            transition: transform .2s ease-in-out;
        }
    }
}