footer {
    margin: 10% 0;
    ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: auto;
        margin-bottom: 8em;
        li {
            min-width: 7em;
            z-index: 100 !important;
            animation: popout .3s ease;
            position: relative;
            top: -.5em;
            &:before {
                content: " ";
                border-bottom: 50px solid;
                border-color: inherit;
                position: absolute;
                top: -30px;
            }
            &:before,
            &:after {
                z-index: -100 !important;
                position: absolute;
                left: -10px;
                border-left: 26px solid transparent;
                border-right: 26px solid transparent;
                border-bottom-width: 30px;
                border-top-width: 20px;
            }
            &:before {
                top: -1em;
            }
            &:after {
                top: 13px;
                content: "";
                bottom: 1em;
                border-top: 1em solid;
                border-color: inherit;
                border-left: 1.6em solid transparent;
                border-right: 1.5em solid transparent;
            }
            max-height: 0;
            min-height: 0;
            margin-bottom: 1em;
            svg {
                stroke: white;
                transform: scale(0.8);
                transition: transform .2s ease-in-out;
            }
            a {
                top: -7px;
                position: relative;
                left: -40px;
                height: 1em;
                h3 {
                    display: none;
                }
            }
            transition: transform .2s ease-in-out;
            &:hover {
                transform: scale(1.1);
                svg {
                    transform: scale(1.3);
                }
            }
        }
    }
}