$icon-size:1.5em;
html.loading footer {
    opacity: 1;
}

footer {
    border-top: 1px solid $background;
    overflow-y: hidden;
    position: relative;
    transition: transform .3s ease-in-out;
    margin: 0;
    padding-bottom: 3em;
    padding-top: 1em;
    background-color: 191a1c;
    display: flex;
    bottom: 0;
    transform: translateY(0);
    justify-content: center;
    ul {
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 18em;
        li {
            z-index: 100 !important;
            animation: popout .3s ease;
            border-radius: $icon-size;
            height: $icon-size;
            width: $icon-size;
            min-width: $icon-size;
            svg {
                stroke: white;
                transform: scale(0.7);
                position: relative;
                top: -.4em;
                left: -.4em;
                transition: transform .2s ease-in-out;
            }
            a {
                height: $icon-size;
                align-items: center;
                &:hover {
                    svg {
                        transform: scale(1);
                    }
                }
                h3 {
                    display: none;
                }
            }
            transition: transform .2s ease-in-out;
        }
    }
}