@mixin item($background, $class) {
    html body {
        li.#{$class} a {
            border-color: $background;
            background: $background;
        }
    }
    html[data-speclate-page=#{$class}] {
        section,
        li.section.link {
            border: 1px solid rgba( $background, .3);
        }
        .tag {
            border: 1px solid $background;
            color: white;
            background: darken( $background, 20%);
        }
        ul.nav li.#{$class} {
            a h3 {
                color: $background;
            }
        }
    }
}

@mixin footer($background, $class) {
    html body footer {
        li.#{$class} {
            border-color: $background;
            background: $background;
        }
    }
}