@import 'item',
'animation',
'footer';
$border-width:5px;
$external-size: 30px;
$circumference:6em;
$duration:0.8s;
$nudge-duration:0.4s;
ul.nav.internal {
    position: sticky;
    display: inline-flex;
    padding-left: 1em;
    padding-bottom: 2em;
    flex-wrap: wrap;
    width: 100%;
    li {
        max-width: $circumference * 1.5;
        flex-basis: 100%;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        text-align: center;
        margin-bottom: 1em;
        transition: flex-basis $duration;
        transition: max-width $duration;
        a {
            display: inline-block;
            position: relative;
            border: 1px solid white;
            margin-top: 0;
            margin-bottom: 0;
            max-width: $circumference;
            border-radius: $circumference;
            height: $circumference;
            width: $circumference;
            text-align: center;
            h3 {
                display: inline-block;
                margin: 0 1em;
            }
            svg {
                top: 10px;
                position: relative;
                transform: scale(0.7);
                transition: transform $duration/2 cubic-bezier(0.76, 0, 0.24, 1) $duration/3;
            }
            transition: transform $duration cubic-bezier(0.76, 0, 0.24, 1);
            ;
            .spinner {
                transition: transform $duration cubic-bezier(0.76, 0, 0.24, 1);
                ;
                border-radius: $circumference;
                height: $circumference;
                width: $circumference;
                margin: 0;
                padding: 0;
            }
            &:after {
                content: "";
                width: 0;
                z-index: -1;
                position: absolute;
                bottom: -$circumference/6;
                transform: scale(0.5) translateY(-7px);
                left: $circumference/3;
                border-top: $circumference/6 solid;
                border-color: inherit;
                border-left: $circumference/6 solid transparent;
                border-right: $circumference/6 solid transparent;
            }
            &:hover {
                .spinner {
                    transition: transform $nudge-duration*2 ease-out $nudge-duration;
                    transform: rotate(-350deg);
                }
                transition: transform $nudge-duration*2 cubic-bezier(0.76, 0, 0.24, 1);
                transform: rotate(350deg);
                box-shadow: inset 0px 0px 0px 2px #fff;
                svg {
                    transform: scale(1);
                }
            }
        }
    }
}

// on a page, hide all the nav which is not relevenat
html[data-speclate-page="links"] ul.nav,
html[data-speclate-page="posts"] ul.nav,
html[data-speclate-page="tags"] ul.nav,
html[data-speclate-page="talks"] ul.nav,
html[data-speclate-page="about"] ul.nav {
    li {
        transition: flex-basis $duration ease-in-out;
        flex-basis: 0;
        opacity: 0;
        a {
            width: 0;
        }
        svg {
            transition: transform $duration/8 ease-in;
        }
    }
}


/* override to show current nav item  */

html[data-speclate-page="talks"] ul.nav li.talks,
html[data-speclate-page="links"] body ul.nav li.links,
html[data-speclate-page="tags"] body ul.nav li.links,
html[data-speclate-page="posts"] ul.nav li.posts,
html[data-speclate-page="about"] ul.nav li.about {
    opacity: 1;
    flex-basis: auto;
    transition: all $duration ease-in;
    transform: rotate(275deg);
    .spinner {
        transform: rotate(-275deg);
    }
    a {
        width: initial;
    }
    h3 {
        transition: all $duration/4 ease-in $duration/2;
        font-size: 2em;
        margin-left: 4em;
        margin-top: 0;
        position: relative;
        top: -22px;
        margin-bottom: 4em;
    }
    svg {
        top: 30px;
        transform: scale(1.7);
        transition: all $duration ease-in;
    }
}

html[data-speclate-page="home"] ul.nav li {
    transition: all $duration/3 ease-in;
    animation-iteration-count: infinite;
    animation-name: twitch;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    .spinner {
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
        animation-name: twitch-rev;
        animation-duration: 20s;
    }
    &:nth-child(2) {
        animation-delay: 1s;
        .spinner {
            animation-delay: 1s;
        }
    }
    &:nth-child(3) {
        animation-delay: 3s;
        .spinner {
            animation-delay: 3s;
        }
    }
    &:nth-child(4) {
        animation-delay: 4s;
        .spinner {
            animation-delay: 4s;
        }
    }
}

@keyframes twitch {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-4deg);
    }
    85% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes twitch-rev {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(4deg);
    }
    90% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@include item(#92B558, 'links');
@include item(#8e44ad, 'hire');
@include item(#8e44ad, 'about');
@include item(#8e44ad, 'contact');
@include item(#d35400, 'talks');
@include item(#C48F65, 'posts');
@include footer(#1da1f2, 'twitter');
@include footer(#c6cbd1, 'github');
@include footer(#F2552C, 'vimeo');
@include footer(#ff0084, 'flickr');
@include footer(#ff0000, 'youtube');
@include footer(#29487d, 'facebook');