@import 'item',
'animation',
'twitch',
'footer';
$border-width:5px;
$external-size: 30px;
$circumference:3em;
$duration:$transition_duration;
$nudge-duration:0.4s;
$border-color:#ECECEC;
ul.nav.internal {
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding-top: 1.9em;
    margin: 0;
    flex-wrap: wrap;
    z-index: 400;
    width: 100%;
    li {
        max-width: $circumference * 1.5;
        flex-basis: 100%;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        text-align: center;
        margin-bottom: 1em;
        a {
            font-family: 'Slabo 13px', Serif;
            display: inline-block;
            position: relative;
            border: 1px solid $border-color;
            margin-top: 0;
            margin-bottom: 0;
            max-width: $circumference;
            border-radius: $circumference;
            height: $circumference;
            width: $circumference;
            text-align: center;
            transition: transform $duration cubic-bezier(0.76, 0, 0.24, 1);
            ;
            .spinner {
                transition: transform $duration cubic-bezier(0.76, 0, 0.24, 1);
                ;
                border-radius: $circumference;
                height: $circumference;
                width: $circumference;
                margin: 0;
                padding: 0;
            }
            svg {
                width: 1.5em;
                top: .4em;
                position: relative;
            }
            &:after {
                content: "";
                width: 0;
                position: absolute;
                bottom: -$circumference/6;
                transform: scale(.6) translateY(0px);
                left: $circumference/3;
                border-top: $circumference/6 solid;
                border-color: inherit;
                border-left: $circumference/6 solid transparent;
                border-right: $circumference/6 solid transparent;
            }
        }
    }
}

// on a page, hide all the nav which is not relevenat
html[data-speclate-page="links"] ul.nav li:not(.links),
html[data-speclate-page="posts"] ul.nav li:not(.posts),
html[data-speclate-page="tag"] ul.nav li:not(.tags),
html[data-speclate-page="talks"] ul.nav li:not(.talks),
html[data-speclate-page="about"] ul.nav li:not(.about) {
    transition: all $duration;
    transform: translateY(-5em) scale(.9);
    &:hover {
        transform: translateY(-4.5em) translate3d(100, 100, 30);
    }
}

html[data-speclate-page="links"] ul.nav li.links,
html[data-speclate-page="posts"] ul.nav li.posts,
html[data-speclate-page="tags"] ul.nav li.tags,
html[data-speclate-page="talks"] ul.nav li.talks,
html[data-speclate-page="about"] ul.nav li.about {
    transition: transform $duration;
    transform: rotate(360deg);
}

html.loading ul.nav li a {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-play-state: play;
    .spinner {
        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-duration: $duration;
    }
}

@include item(#92B558, 'links');
@include item(#8e44ad, 'hire');
@include item(#8e44ad, 'about');
@include item(#8e44ad, 'contact');
@include item(#d35400, 'talks');
@include item(#C48F65, 'posts');
@include footer(#1da1f2, 'twitter');
@include footer(#c6cbd1, 'github');
@include footer(#F2552C, 'vimeo');
@include footer(#ff0084, 'flickr');
@include footer(#ff0000, 'youtube');
@include footer(#29487d, 'facebook');